.id{
    padding: 10px;
    background-color: blue;
    border-radius: 15px;
    margin: auto;
    ;
}
.id:hover{
    padding:10px;
    background: rgb(255, 0, 0);
    border-radius: 10px;
}
.LoremText:hover{
    text-transform:capitalize;
}
.customclass > span:first-child{
    color: blue;
    background-color: brown;
    
} 
/* span:first-child{
    color:cadetblue;
    background-color: red;
    
} */
.parent{
    position: relative;
    height: 400px;
    width: 400px ;
    background-color: red;
    
}
.child{
    position: absolute;
    height:350px;
    width: 350px;
    background-color: green;
    top: -75%;
    left: -75%;
}