.image-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    margin: 10px;
}

.image-container img {
    width: 100%;
    height: auto;
}
